.containerUser {
    max-width: 986px;
    margin: 0 auto;
    padding-top: 97px;
    padding-bottom: 200px;
}

.titleData h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--blue-300);
}

.line {
    margin-top: 11px;
    border: 1px solid #c4c4c4;
}

.containerFilters {
    display: flex;
    margin-top: 94px;
    gap: 30px;
}

.containerFilters div select{
    max-width: 214px;
}

.wrapperButton {
    max-width: 960px;
    margin: 0 auto;
    text-align: end;
}