.summary {
  display: flex;
  gap: 106px;
  justify-content: center;
  margin-top: 60px;
}

.totalPaid,
.totalExpenses {
  width: 341px;
  height: 125px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.totalPaid p:nth-child(1),
.totalExpenses p:nth-child(1) {
  margin-bottom: 25px;
}

.totalPaid p:nth-child(2) {
  font-weight: 400;
  font-size: 36px;
  color: var(--green-300);
}

.totalExpenses p:nth-child(2) {
  font-weight: 400;
  font-size: 36px;
  color: var(--red-300);
}

hr {
  margin-top: 25.5px;
  height: 5px;
}

.green {
  background-color: var(--green-300);
}

.red {
  background-color: var(--red-300);
}
