.containerCategories {
    padding-bottom: 200px;
}
.containerFilters {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 94px;
    gap: 30px;
}

.wrapperButton {
    max-width: 960px;
    margin: 0 auto;
    text-align: end;
}