.containerUser {
    max-width: 986px;
    margin: 0 auto;
    padding-top: 97px;
    padding-bottom: 200px;
}

.titleData h2,
.titleExpenses h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--blue-300);
}

.line {
    margin-top: 11px;
    border: 1px solid #c4c4c4;
}

.titleExpenses {
    margin-top: 106px;
}

.containerFilters {
    margin-top: 90px;
}

.wrapperButton {
    text-align: end;
}
