.modal {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 8px;
    width: 554px;
    min-height: 520px;
    padding-bottom: 38px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black-50);
}

form label {
    margin-bottom: 10px;
}

.titleModal h2 {
    font-weight: 500;
    font-size: 24px;
    color: var(--blue-300);
    text-align: center;
    margin: 38px 40px;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

select,
input {
    width: 392px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

form input:focus,
form select:focus {
    border-color: var(--blue-300);
}

.boxField:focus-within label {
    color: var(--blue-300);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.boxField select {
    margin-top: 0;
}
.boxField input:disabled {
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    border-bottom-color: var(--blue-300);
}

.fieldsCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.inputCategory,
.inputUserName {
    border-color: var(--blue-300);
}

.titleModalDelete {
    font-weight: 500;
    font-size: 20px;
    color: var(--red-300);
    text-align: center;
    margin: 38px 40px;
}

.msgConfirmingDeletion {
    margin-top: 115px;
    margin-bottom: 100px;
}

.msg {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.msg span,
.labelUser {
    color: var(--blue-300);
}

.nameCategory {
    display: flex;
    flex-direction: column;
    margin-top: 60.48px;
    margin-bottom: 90px;
}

.message_error {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
}

.error {
    border-color: red !important;
}

input:disabled {
    color: var(--black-50);
}
