.table {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
.table {
    border-collapse: collapse;
}

.table thead {
    background: #f3f6f9;
}
.table thead th,
.table tbody td {
    padding: 16px 10px;
    text-align: start;
}
.table thead th {
    min-width: 33%;
}

.table tbody tr:nth-child(even) {
    background: #2196f30a;
}
.red {
    color: var(--red-300);
}
.blue {
    color: var(--blue-300);
}
.green {
    color: var(--green-300);
}
td[attr-key='email']:hover,
td[attr-key='nameCategory']:hover {
    cursor: pointer;
    color: var(--blue-100);
    text-decoration: underline;
}
td[attr-value='PAGO'] {
    color: var(--green-300);
}
td[attr-value='PENDENTE'] {
    color: var(--red-100);
}

.buttonsWrapper {
    background-color: red;
}
